<button (click)="startSync()">Subscribe to Sync Observer</button>
<button (click)="startAsync()">Subscribe to Async Observer</button>
<button (click)="unsubscribe()">Unsubscribe</button>
<form #form="ngForm">
  <input [(ngModel)]="amiibo.name" name="amiibo"/>
  <button (click)="getAmiibo()">Get Amiibo</button>
  <img *ngIf="url" [src]="url" />
</form>
<button id="clicker">Track click event</button>
<div style="display: flex; margin-top: 20px;">
  <app-traffic-lights style="margin-right: 10px"></app-traffic-lights>
  <app-pedestrian-light></app-pedestrian-light>
</div>
